<h1> <%= @attraction.name %> </h1>
<% if !@user.admin %>
<%= link_to "Go on this ride", user_attraction_path(@user, @attraction), :method => 'patch' unless @user.admin %>
<% else %>
<%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>
<br>
<%= link_to "See attractions", attractions_path %>
